{% load i18n %}
<style>
.stats_selector
{
	min-width:100%;
}
.stats_selector label, .stats_selector select, .stats_selector input
{
	font-size:11px;
}
.stats_selector select
{
	height:25px;
}
.stats_selector input
{
	width:75px;
}

#meter
{
	width:150px;
}
#resource
{
	width:250px;
}
#date_options
{
	width:100px;
}

#action_display_chart
{
	float:none;
	margin-top:-10px;
}
</style>

<script>


</script>

<div class="table_wrapper">
        <div class="table_actions clearfix stats_selector">
		<span style="float:left;">
		        <label for="meter" style="display:inline">{% trans "Metric" %}:&nbsp;</label>
			<select name="meter" id="meter" class="span3 example">
                            {% for group in meters %}
                                <optgroup label="{{group.0}}">
                                {% for meter in group.1 %}
		        		<option value="{{meter.name}}" data-unit="{{meter.unit}}" data-type="{{meter.type}}">
				            {{meter.name}}
				        </option>
                                {% endfor %}
                                </optgroup>
                            {% endfor %}
			</select>
       			<label for="resource" style="display:inline">{% trans "Resource" %}:&nbsp;</label>
			<select name="resource" id="resource" class="span3 example">
			</select>
			<label for="date_range_selectors" style="display:inline">{% trans "Period" %}:&nbsp;</label>
			<select id="date_options" name="date_options">
				<option value=""></option>
				<option value="1" selected>{% trans "Last day" %}</option>
				<option value="7">{% trans "Last week" %}</option>
				<option value="15">{% trans "Last 15 days" %}</option>
				<option value="30">{% trans "Last 30 days" %}</option>
				<option value="365">{% trans "Last year" %}</option>
			</select>
		</span>

		<span style="float:left;margin-left:15px;">
	        	<label for="date_from" style="display:inline">{% trans "From" %}:&nbsp;</label>
	        	<input type="text" id="date_from" name="date_from" class="span3 example" />
	        	<label for="date_to" style="display:inline">{% trans "To" %}:&nbsp;</label>
	        	<input type="text" id="date_to" name="date_to" class="span3 example" />
	        	<button type="button" id="action_display_chart" class="btn btn-small btn-search action_display_chart">{% trans "Refresh" %}</button>
		</span>
		<span style="float:right;">
		        <button type="button" id="action_export_chart" class="btn btn-small btn-search action_export_chart">{% trans "Export chart to PDF" %}</button>
		</span>
	</div>
</div>
<div id="chart_container"></div>

<form id="svgform" name="svgform" method="POST" action="{%url horizon:admin:ceilometer:export %}">
	{% csrf_token %}
	<input type="hidden" id="svgdata" name="svgdata" value="" />
</form>
<script type="text/javascript">
	var parseDate = undefined;
	var x = undefined;
	var y = undefined;
	var xAxis = undefined;
	var yAxis = undefined;
	var line = undefined;
	var svg = undefined;
	var resources = new Array();

	var margin = {top: 40, right: 100, bottom: 80, left: 200};
    	var width = 1100 - margin.left - margin.right;
    	var height = 480 - margin.top - margin.bottom;


    function loadChartData()
    {
	d3.select("svg").remove();

	svg = d3.select("#chart_container").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	// get sample, resource, from and to
	var sample = $("#meter").val();
	var resource = $("#resource").val();
	var from = $("#date_from").val()
	var to = $("#date_to").val();

	if (sample && resource)
	{
		var date_ts = (new Date()).getTime();
        	d3.csv("{%url horizon:admin:ceilometer:samples %}?ts="+date_ts+"&sample="+sample+"&resource="+resource+"&from="+from+"&to="+to,
			function(error,data) {
				var chart_title = $("#meter").val()+" {% trans "for resource" %} "+$("#resource").val()+" ({% trans "From" %} "+
					$("#date_from").val()+" {% trans "to" %} "+$("#date_to").val()+")";

				// read selected option
        			var option = $("#meter option").filter(":selected");
				var meter_text = "{% trans "Value" %}";
        			if (option)
        			{
                			var unit = option[0].getAttribute("data-unit");
					meter_text = meter_text + " ("+unit+")";
        			}

				data.forEach(function(d) {
					d.date = parseDate(d.date);
					d.value = +d.value;
				});
	
				x.domain(d3.extent(data, function(d) { return d.date; }));
				y.domain(d3.extent(data, function(d) { return d.value; }));

				if (current_type=="cumulative")
				{
					svg.append("g")
      						.attr("class", "x axis")
      						.attr("transform", "translate(0," + height + ")")
      						.call(xAxis);
				}
				else
				{
					// show in m/d/Y hh:mm:ss format
					svg.append("g")
      						.attr("class", "x axis")
      						.attr("transform", "translate(0," + height + ")")
      						.call(xAxis.tickFormat(d3.time.format("%m-%d %H:%M:%S")))
						.selectAll("text")
							.style("text-anchor", "end")
							.attr("dx", "-.8em")
							.attr("dy", ".15em")
							.attr("transform", "rotate(-65)");

				}

  				svg.append("g")
      					.attr("class", "y axis")
      					.call(yAxis)
    					.append("text")
      					.attr("transform", "rotate(-90)")
      					.attr("y", 6)
      					.attr("dy", ".71em")
      					.style("text-anchor", "end")
      					.text(meter_text);

				// draw line or bar depending on type
				var current_type = $("#meter").find(":selected").attr("data-type");
				if (current_type=="cumulative")
				{
	  				svg.append("path")
 		     				.datum(data)
      						.attr("class", "line")
						.style("stroke", "steelblue")
						.style("stroke-width", 1.5)
						.style("fill", "none")
      						.attr("d", line);
				}
				else
				{
					svg.selectAll(".bar")
						.data(data)
						.enter().append("rect")
						.attr("class", "bar")
						.attr("width", 5)
						.style("fill", "steelblue")
      						.attr("x", function(d) { return x(d.date); })
      						.attr("y", function(d) { return y(d.value); })
      						.attr("height", function(d) { return height - y(d.value); });						
				}

				svg.append("text")
					.attr("x", (width/2))
					.attr("y", 0 - (margin.top/2))
					.attr("text-anchor", "middle")
					.style("font-size", "14px")
					.style("text-decoration", "none")
					.text(chart_title);

				d3.selectAll("path.domain")
					.style("fill", "none")
					.style("stroke", "black")
					.style("stroke-width", 1);

				d3.selectAll(".axis path")
					.style("fill", "none")
					.style("stroke", "black")
					.style("shape-rendering", "crispEdges");

				d3.selectAll(".axis")
					.style("font-size", "10px");

				d3.selectAll(".axis line")
					.style("fill", "none")
					.style("stroke", "black")
					.style("shape-rendering", "crispEdges");
			}
        	);
	}
    }

    function disableOptions()
    {
	var type = $("#meter").val();
	// remove all options from select
	$("#resource").empty();
	if (type)
	{
		// iterate over the depending select, adding the ones with different type
		for (res in resources[type])
		{
			$("#resource").append("<option value='"+resources[type][res]+"'>"+resources[type][res]+"</option>");
		}
	}
    }

    function refreshPickers(date_interval)
    {
	var now = new Date();
	$("#date_to").datepicker('setValue', now);
	targetDate = new Date();
	targetDate.setDate(now.getDate() - date_interval);
	$("#date_from").datepicker('setValue', targetDate);
    }

    function setupInitials()
    {
	refreshPickers(1);

	// setup chart load first chart
	parseDate = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;
	x = d3.time.scale()
		.range([0, width]);

	y = d3.scale.linear()
		.range([height, 0]);

	xAxis = d3.svg.axis()
		.scale(x)
    		.orient("bottom");

	yAxis = d3.svg.axis()
		.scale(y)
    		.orient("left");

	line = d3.svg.line()
		.x(function(d) { return x(d.date); })
		.y(function(d) { return y(d.value); });

	disableOptions();
    }

    function submit_download_form()
    {
	var svg = $("#chart_container svg");
	if (svg)
	{
		var svg_xml = (new XMLSerializer).serializeToString(svg[0]);
		$("#svgdata").val(svg_xml);
		$("#svgform").submit();
	}
    }

    document.addEventListener('DOMContentLoaded', function() {
	$('<script/>', {type: 'text/javascript',
        	src: '/static/ceilometer/js/bootstrap-datepicker.js'})
                                                           .appendTo($('head'));
	$('<script/>', {type: 'text/javascript',
        	src: '/static/ceilometer/js/d3.v3.min.js'})
                                                           .appendTo($('head'));


        var from = $('#date_from').datepicker()
        .on('changeDate', function(ev) {
                if (ev.date.valueOf() > to.date.valueOf()) {
                        var newDate = new Date(ev.date)
                        newDate.setDate(newDate.getDate() + 1);
                        to.setValue(newDate);
                }
                from.hide();
                $('#date_to')[0].focus();
        }).data('datepicker');

        var to = $('#date_to').datepicker({
                onRender: function(date) {
                        return date.valueOf() <= from.date.valueOf() ? 'disabled' : '';
                }
        }).on('changeDate', function(ev) {
          $("#date_to").hide();
        }).data('datepicker');

	// master resources list
        {% for meter_name, resources_by_name in resources.items %}
		resources["{{meter_name}}"] = new Array();
		{% for resource in resources_by_name %}
			resources["{{meter_name}}"].push("{{resource}}");
                {% endfor %}
        {% endfor %}

        $(".action_display_chart").click(function()
        {
                loadChartData();
        });

	$("#meter").change(function()
	{
		disableOptions();
		loadChartData();
	});
	$("#resource").change(function()
	{
		loadChartData();
	});

	$("#action_export_chart").click(function()
	{
		submit_download_form();		
	});

	$("#date_options").change(function()
	{
		var current = $(this).val();
		if (current)
		{
			refreshPickers(current);
			loadChartData();
		}
	});

	setupInitials();
	loadChartData();
    });
</script>
